<!DOCTYPE HTML>
<html>
<head>
    <title>INANDOUT CLIENT v0.0.1</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	<script type="text/javascript">

	var setCookie = function(name, value, exp) {
 		var date = new Date();
  		date.setTime(date.getTime() + exp*24*60*60*1000);
  		document.cookie = name + '=' + value + ';expires=' + date.toUTCString() + ';path=/';
	};

	var getCookie = function(name) {
  		var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
  		return value? value[2] : null;
	};

	function delete_cookie( name ) {
  		document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
	}

	function auto_close() {
		let timeout = getCookie('timeout');
		if(timeout == null) {
			timeout = 4;
			setCookie('timeout', timeout);
		}
		if(timeout == 1) {
			delete_cookie('timeout');
			document.getElementById('card_message').innerHTML = '시간이 초과되었습니다.';
	    	setTimeout(function() {
			self.close();
			}, 2000);
		}
		if(timeout >= 2) {
			document.getElementById('card_count').innerHTML = timeout-1;
			document.getElementById('card_message').innerHTML = '카드를 대어 주세요!';
			setCookie('timeout', timeout-1);
			setTimeout(function() {
				location.reload();
			}, 1000);
		}
	}
	function cardLogin(url){
		let cardno = "<%=cardno%>";
		delete_cookie('timeout');
    	$.post(url, { cardnumber : cardno }, 'json')
    	.done(function(jqXHR) {
			var time = new Date();
			var hour = time.getHours();
			var day = time.getDay();
      		console.log(jqXHR);
      		document.getElementById('token').value = jqXHR.data;
      		useToken('http://in.econovation.kr:3000/token',jqXHR.data);
			if(hour < 20 && (day >= 1 && day <= 5) ) {
				document.getElementById('buttonWrapper').innerHTML = `<div id="in_button" class="inoutbutton" onclick="location.href='/entry/in?token=`+jqXHR.data+`'">
		    	<div class="big">IN</div>
		    	<div class="button_sub">출입신청을 합니다.</div>
	    		</div>`
			} else {
				document.getElementById('buttonWrapper').innerHTML = `<div id="out_button" class="inoutbutton" onclick="location.href='/entry/out?token=`+jqXHR.data+`'">
		    	<div class="big">OUT</div>
		    	<div class="button_sub">퇴실합니다.</div>
	    		</div>`
			}
   		})
    	.fail(function(jqXHR) {
     		console.log(jqXHR);
			 window.location.href = '/entry/error';
    	});
	}
	function useToken(url,logintoken) {
  		$.get(url, { token: logintoken }, 'json')
  		.done(function(jqXHR) {
    		console.log(jqXHR);
    		//jqXHR은 이미 파싱된 json 객체!
    		document.getElementById('user_name').innerHTML = jqXHR.username+" 님, 환영합니다!";
  		});
	}
	</script>
</head>

<body<% if(cardno == '0') { %> onload="auto_close();"<% } else { %> onload="cardLogin('http://in.econovation.kr:3000/process/card/login');"<% } %>>
    <link rel="stylesheet" href="stylesheets/entry.css" />
    <div class="card_debug">
        <div class="id_info">
	<% if(cardno != '0') { %>
	    <div class="profile">
			<div id="user_name"></div>
		</div>
		<div id="hour"></div>
		<input type="text" id="token" style="width:400px" placeholder="토큰" value="" readonly hidden>
	    <div id="buttonWrapper">

	    	<!--div id="not_allowed" class="inoutbutton">
		    <div class="warning">출입이 불가능합니다.</div>
		    <div class="button_sub">오늘 오후 8시 전 예약자만<br>출입할 수 있습니다.</div>
	    	</div-->
	    </div>
	    <div class="setting_button">
		<input type="button" id="setting" value="설정" />   
	    </div>
	    <div class="close_button">
		<input type="button" id="exit "value="취소" onClick="self.close();" />
	    </div>
	<% } else { %>
		<div id="card_wrapper">
			<div id="card_count"></div>
			<div id="card_message"></div>
		</div>
	<% } %>
	</div>
    </div> 
</body>
</html>