<!DOCTYPE HTML>
<html>
<head>
    <title>INANDOUT CLIENT v0.0.1</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	<script type="text/javascript">

	var setCookie = function(name, value, exp) {
 		var date = new Date();
  		date.setTime(date.getTime() + exp*24*60*60*1000);
  		document.cookie = namae + '=' + value + ';expires=' + date.toUTCString() + ';path=/';
	};

	var getCookie = function(name) {
  		var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
  		return value? value[2] : null;
	};

	function auto_close() {
		let timeout = getCookie('timeout');
		if(timeout === undefined) {
			setCookie('timeout', 3);
		}
		if(timeout === 0) {
			delete_cookie('timeout');
			document.getElementById('card_message').value = '시간이 초과되었습니다.';
	    	setTimeout(function() {
			self.close();
			}, 2000);
		}
		document.getElementById('card_message').value = timeout+"초 남았습니다.";
		setCookie('timeout', timeout-1);
		setTimeout(function() {
			location.reload();
			}, 1000);
	}
	function cardLogin(url){
    	let cardno = "<%=cardno%>";
    	$.post(url, { cardnumber : cardno }, 'json')
    	.done(function(jqXHR) {
      		console.log(jqXHR);
      		document.getElementById('token').value = jqXHR.data;
      		useToken('http://in.econovation.kr:3000/token',jqXHR.data);
   		})
    	.fail(function(jqXHR) {
     		console.log(jqXHR);
			 window.location.href = '/entry/error';
    	});
	}
	function useToken(url,logintoken) {
  		$.get(url, { token: logintoken }, 'json')
  		.done(function(jqXHR) {
    		console.log(jqXHR);
    		//jqXHR은 이미 파싱된 json 객체!
    		document.getElementById('user_name').innerHTML = jqXHR.username+" 님, 환영합니다!";
  		});
	}
	</script>
	
</head>
<body<% if(cardno == '0') { %> onload="auto_close();"<% } else { %> onload="cardLogin('http://in.econovation.kr:3000/process/card/login');"<% } %>>
    <link rel="stylesheet" href="stylesheets/entry.css" />
    <div class="card_debug">
        <div class="id_info">
	<% if(cardno != '0') { %>
	    <div class="profile">
			<div id="user_name"></div>
		</div>
		<input type="text" id="token" style="width:400px" placeholder="토큰" value="" readonly hidden>
	    <div class="buttonWrapper">
	    	<div id="in_button" class="inoutbutton">
		    <div class="big">IN</div>
		    <div class="button_sub">출입신청을 합니다.</div>
	    	</div>
	    	<div id="out_button" class="inoutbutton">
		    <div class="big">OUT</div>
		    <div class="button_sub">퇴실합니다.</div>
	    	</div>
	    	<!--div id="not_allowed" class="inoutbutton">
		    <div class="warning">출입이 불가능합니다.</div>
		    <div class="button_sub">오늘 오후 8시 전 예약자만<br>출입할 수 있습니다.</div>
	    	</div-->
	    </div>
	    <div class="setting_button">
		<input type="button" id="setting" value="설정" />   
	    </div>
	    <div class="close_button">
		<input type="button" id="exit "value="취소" onClick="self.close();" />
	    </div>
	<% } else { %>
	    <div class="card_message">카드가 인식되지 않았습니다!</div>
	<% } %>
	</div>
    </div> 
</body>
</html>


