<!DOCTYPE HTML>
<html>
<head>
    <title>INANDOUT CLIENT v0.0.1</title>
</head>
<body>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <div class="background">
        <img src="images/logo.png" width=200>
    </div>
    <div class="alertbox error">
            <h1><img src="images/alert_200.png" width=24>  DB 서버와 통신할 수 없습니다.</h1>
            <p>서버가 켜져 있고 연결이 가능한지 확인하세요.</p>
    </div>
</body>
<script type="text/javascript">
setTimeout("location.reload()", 10000)
</script>
</html>


