<!DOCTYPE HTML>
<html>
<head>
    <title>INANDOUT CLIENT v0.0.1</title>
</head>
<body>
    <button class="btn" onClick="history.back()">뒤로</button>

    <div id="description">
        에코노베이션 출입 관리 시스템입니다!<br>
        <br><br>
        * 최초 사용시<br>
          관리부의 승인을 받은 후 자신의 학번을 입력하고 암호를 설정합니다.<br><br>
        
        * 카드를 잃어버려 재등록이 필요한 경우<br>
          학번과 PIN으로 로그인 후 카드를 재등록할 수 있습니다.<br>
        <br><br>
        * 크레딧<br>
          Created by In&Out Team, 2019<br>
          김기표 김정인 정회형<br>
    </div>

</body>
</html>


