<!DOCTYPE HTML>
<html>
<head>
    <title>INANDOUT CLIENT v0.0.1</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <script language="javaScript">
	function auto_close() {
	    setTimeout(function() {
		self.close();
	    }, 2000);
	}
    </script>
</head>
<body>
    <link rel="stylesheet" href="stylesheets/entry.css" />
    <div class="card_debug">
        <div class="id_info">
	    <div class="profile">
		님, 환영합니다!
	    </div>
	    <div class="setting_button">
		<input type="button" id="login" value="Settings" />   
	    </div>
	    <div class="close_button">
		<input type="button" id="exit "value="Exit" onClick="self.close();" />
	    </div>
	</div>
    </div> 
</body>
</html>


