@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

body, table, div, input, p {
    font-family: 'Jeju Gothic';
}
body {
    margin: 0;
}

.background {
    text-align:center;
    margin-left:-200px;
}

#card_wrapper {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    display: flex;
}

#card_count {
    font-size: 50px;
}

#card_message {
   
    font-size: 20px;
}

.profile {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font-size: 20px;
}

.close_button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.close_button>input, .setting_button>input {
    height: 45px;
    width: 100px;
    background: white;
    width: 150px;
    height: 40px;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    font-size: 18px;
}

.setting_button {
    position: absolute;
    bottom: 60px;
    right: 10px;
}

.inoutbutton {
    background-color: #BCBCBC;
    width:340px;
    height: 160px;
    margin-top: 50px;
    margin-left: 50px;
}

.big {
    font-size: 100px;
    margin-left: 10px;
    margin-top: 40px;
}

.button_sub {
    margin-left: 30px;
    font-size: 20px;

}
